<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
</head>
<body>
    <div id='title-box'>
        <div id='header'>
            <h1 class="title">Budget Tracker</h1>
        </div>
    </div>
    <div class="container" style="background-color:#f1f1f1">
            <div class='login-input'>
                <label for='email'><b>Email</b></label>
                <input type='email' id='email' name='email' 
                required>
            </div>
        <div class="login-input">
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        </div>
        <div class="login-input">
            <button type="submit">Login</button>
            <label>
            <input type="checkbox" checked="blank" name="remember"> Remember me
            </label>
            <h4 class="psw"><a href="/register">Create User</a></h4>
        </div>
    </div>
  </form>
</body>
</html>