<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header3.ejs") %> 
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">BudgetTracker</h1>
        </div>
      </div>
    <div class="containers">
        <form action="/register" method="POST">
            <div class="login-input">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="firstname" required>
            </div>
            <div class="login-input">
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div class="login-input">
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" required>
            </div>
            <div class="login-input">
                <button type="submit" value="submit"></a>Register</button>
                <h4 class="psw"><a href="/login">Login</a></h4>
            </div>
        </form>
    </div>
</body>
</html>