/*.container {
  
}*/

.h1 {
  text-align: right;
  margin-right: 75px;
}

h2,
h3 {
  font-family: Arial;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-right: 75px;
  align-items: baseline;
}

.greeting {
  margin: 50px;
}
.expenses-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expenses-chart {
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  justify-content: flex-start;
  margin: 50px;
}

.expenses-list {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  /*align-self: flex-end;*/
}

.dropdown {
  display: flex;
  align-items: flex-end;
}

.expenses {
  margin: 50px;
}

.col-form-label {
  margin-right: 15px;
}

.bills-title {
  margin: 50px;
  text-align: center;
}

#bills-btn {
  margin-top: 100px;
}

.submit-bt {
  margin-top: 10px;
}

.col-sm-10 {
  padding: 0px;
}